<header>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">{{title}}</a>
    </div>
    <app-navbar [activeNote]="!!activeNote" 
                [addNote]="addNote" 
                [removeNote]="removeNote">
    </app-navbar>
  </nav>
</header>
<main>
  <br/>
  <div class="row">
    <div class="col-sm-4">
      <app-note-list [notes]="notes" 
                     [activeNote]="activeNote" 
                     [selectNote]="selectNote" 
                     [getCategory]="getCategory">
      </app-note-list>
    </div>
    <div class="col-sm-8">
      <app-note-view [note]="activeNote" 
                     [categories]="categories">
      </app-note-view>
      <div class="jumbotron" *ngIf="!activeNote">
        <h2><span class="fa fa-hand-o-left" aria-hidden="true"></span> Select a Note</h2>
      </div>
    </div>
  </div>
  <app-category-list (categoriesUpdated)="updateCategories($event)"></app-category-list>
</main>
<footer class="text-center">
  Copyright &copy; 2017
</footer>
