<div class="jumbotron bg-{{getCategory(note).color}}" *ngIf="note">
  <h3 *ngIf="!editTitle" (click)="setEditTitle(true)">{{ note.title }}</h3>
                <form class="form-inline" *ngIf="editTitle">

  <input  name="title" id="title" class="form-control input-lg" type="text" minlength="1" maxlength="60" placeholder="type title here" required [(ngModel)]="note.title" (keyup.enter)="setEditTitle(false)" (blur)="setEditTitle(false)" />
  </form>
  <hr/>
  <p *ngIf="!editContent" (click)="setEditContent(true)">{{ note.content }}</p>
  <textarea *ngIf="editContent" class="form-control input-sm" placeholder="type text here" name="content" [(ngModel)]="note.content" (keyup.enter)="setEditContent(false)" (blur)="setEditContent(false)">
  </textarea>
</div>
